* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #f9f6f3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f9f6f3;
}

.Logo {
    width: 80px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 5rem;
    margin: 0 auto;
}

.navbar-links a {
    font-size: larger;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links a:hover {
    font-size: 1.2em;
    font-weight: bold;
    transition: all 0.3s ease;
}

.column {
    float: left;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.IntroductionText {
    display: block;
    padding-left: 10%;
    padding-top: 50%;
    text-align: center;
}

.IntroductionText h1 {
    font-size: 2.5em;
    margin-bottom: 10%;
}

#welcomePhoto {
    max-width: 100%;
    height: auto;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 10px;
}

.footer {
    background-color: #f9f6f3;
    padding: 1rem;
    width: 100%;
}

#footerIcon {
    font-size: 2em;
    color: black;
}

.section {
    font-size: 3em;
    margin: 4rem;
    text-align: center;
}

.repo-card {
  border-radius: 8px;
  border: 2px solid black;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px black;
  transition: transform 0.2s ease;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.repo-card:hover {
  transform: translateY(-3px);
}

.repo-card a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

.repo-card p {
  margin: 5px 0 0;
  color: black;
}

.blogger-card {
  border-radius: 8px;
  border: 2px solid black;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px black;
  transition: transform 0.2s ease;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.blogger-card:hover {
  transform: translateY(-3px);
}

.blogger-card a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

.blogger-card p {
  margin: 5px 0 0;
  color: black;
}

form {
    text-align: center;
    
}

input[type=text], [type=email] {
    width: 15%;
    padding: 12px 20px;
    border: 1px white;
    border-radius: 10px;
    margin: 10px 0;
}

#message {
    width: 40%;
    height: 150px;
    resize: none;
}

input[type=Submit] {
    background-color: rgb(37, 25, 42);
    border: 3px solid rgb(80, 50, 101);
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


.bau-hinweis {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    font-size: 4rem;
    font-weight: bold;
    color: rgba(200, 0, 0);
    text-transform: uppercase;
    pointer-events: none;
    z-index: 9999;
    white-space: nowrap;
}
